<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators d-flex justify-content-end ">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img/banner1.jpg" class="d-block w-100" alt="...">
      <div class="d-flex flex-column align-items-center justify-content-start">
        <div class="carousel-caption d-none d-md-block ">
          <h5>First Movie label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
        <div class="carousel-btn d-flex flex-row justify-content-between">
          <button class="btn btn-one">add to play list</button>
          <button class="btn btn-two">watch now</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/banner2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second Movie label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="carousel-btn d-flex flex-row justify-content-between">
        <button class="btn btn-one">add to play list</button>
        <button class="btn btn-two">watch now</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/banner3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third Movie label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
      <div class="carousel-btn d-flex flex-row justify-content-between">
        <button class="btn btn-one">add to play list</button>
        <button class="btn btn-two">watch now</button>
      </div>
    </div>
  </div>

</div>